body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  /* align-items: center; */

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;

  margin: 0 auto;
  padding: 0;

  z-index: 99;
  overflow-x: hidden;

  /* pointer-events: none; */
}

h1 {
  font-size: 1.8em;
}
.showBox {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 236, 243, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  /* pointer-events: ; */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.showBox:target {
  opacity: 1;
  pointer-events: auto;
}

/* #ifSignIn {
  color: #db3232;
  font-size: 1.05em;
}

#ifSignInUpload {
  color: #db3232;
  font-size: 1.05em;
} */

#normalScreen {
  display: none;
}
.showBox .showPopUpBox {
  display: flex;
  width: 80vw;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 400px; */
  position: relative;
  /* margin: 10% auto; */
  padding: 1rem;
  background: #fff;
  /* color: #444; */
  z-index: 1;
}

#closePopUpBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  right: 0;
  font-size: 1.3em;
  margin: 0 0 1.5vh 0;
  /* justify-content: right;
  align-items: flex-end; */
}

.folderToChoose {
  border-bottom: 2px solid #2448e4;
  padding: 0 0 1vh 0;
  /* min-width: 10%; */
  min-width: 60vw;
}
#soundboardWrapper {
  display: flex;
  width: 100vw;
  min-height: 91vh;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#confirmButton, #cancelButton {
  display: flex;
  /* font-size: 0.5em; */
  margin: 0;
  padding: 5px;
}

#buttonDiv {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;

}

.continueWithEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 70vw;
}

i {
  /* color: #2448e4; */
  /* background-color: #2448e4; */
}
#uploadWrapper {
  width: 100vw;
  height: 91vh;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* z-index: 999; */
}

/* #soundboardWrapper h1 {
    width: 100vw;
} */

.feedback {
  color: #db3232;
  font-size: 1.05em;
}

#signInWrapper {
  width: 100vw;
  height: 91vh;
  display: none;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#signUpWrapper {
  width: 100vw;
  height: 91vh;
  display: none;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

input[type=text], input[type=password] {
  outline: none;
  border: none;
  background: none;

  /* width: 35vw;
  height: 4vh; */
  font-size: 16px;
  margin: 10px 0;
  /* padding: 5px; */

  
  transition: border-bottom 500ms ease;
  
  border-bottom: lightgray 3px solid;
}

input[type=file]file-upload-button {
  outline: none;
  border: none;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  /* position: relative; */
  /* top: 150px; */
  /* font-family: calibri; */
  /* width: 150px; */
  padding: 10px;
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px; */
  /* border: 1px dashed #BBB; */
  text-align: center;
  /* background-color: #DDD; */
  cursor: pointer;
  background-color: #2448e4;
}

input[type=text]:focus, input[type=password]:focus {
  border-bottom:#2448e4 3px solid;
}

#choosedFolder {
  background-color: white;
  box-shadow: rgba(0, 0, 0, .4) 2px 5px 7px 0px;
  transition: border-bottom 500ms ease;
  border-radius: 5px;
}

.btnWrapper {
  background-color: #166ba2;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, .4) 2px 5px 7px 0px;
  border-radius: 5px;
}

.linkTo {
  color: #2448e4;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9vh;
  width: 100vw;
  background: #e7ecf3;
  font-size: 1.2em;
  left: 0%;
  bottom: 0%;
  position: sticky;
}
/* #loadSounds {
    min-width: 15vw;
    min-height: 7vh;
    display: flex;
    border: 2px solid #76c3bd;
    align-items: center;
    background-color: #76c3bd;
    border-radius: 10px;
    box-shadow: 2px 5px 7px 0px rgb(133, 127, 127);
    cursor: pointer;
    padding: 0 10px;
    font-weight: bold;
    letter-spacing: 1px;
}  */

#representSounds {
  display: flex;
  flex-wrap: wrap;
  /* width: 100vw;
  min-height: 90vh; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#representSounds div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* background-color: black; */
}

#representSounds .loadButton {
  display: flex;

  justify-content: center;
  align-items: center;
  /* text-align: center; */
  min-width: 20vw;
  min-height: 4vw;

  margin: 2vh 1.5vw;
  padding: 0 10px;

  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;

  border: 2px solid black;
  border-radius: 5px;
  /* box-shadow: 2px 5px 7px 0px rgb(133, 127, 127); */
}

#representSounds .undisplayBtn {
  display: none;

  justify-content: center;
  align-items: center;
  /* text-align: center; */
  min-width: 20vw;
  min-height: 4vw;

  margin: 2vh 1.5vw;
  padding: 0 10px;

  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;

  border: 2px solid black;
  border-radius: 5px;
}
.soundsToPlay {
  display: flex;

  justify-content: center;
  align-items: center;
  /* text-align: center; */
  min-width: 20vw;
  min-height: 4vw;

  margin: 2vh 1.5vw;
  padding: 0 10px;

  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;

  border-radius: 10px;
  box-shadow: 2px 5px 7px 0px rgb(133, 127, 127);
}

#confirmDeleteFirst {
  display: none;
}
/* @media screen and (max-width:1024px) {
    #representSounds {
        width: 90vw;
        min-height: 50vh;
    
    }

    .soundsToPlay {
        min-width: 27vw;
        min-height: 8vh;
    }
}

@media screen and (max-width:768px) {
    #representSounds {
        width: 90vw;
    }

    .soundsToPlay {
        min-width: 35vw;
        min-height: 8vh;
    }
}

@media screen and (max-width:720px) {
    #representSounds {
        width: 95vw;
    }

    .soundsToPlay {
        min-width: 37vw;
        min-height: 8vh;
    }
} */

/* .notThere {
  display: none;
} */

.lds-ellipsis {
  /* display: inline-block; */
  position: relative;
  width: 80px;
  height: 80px;
  display: none;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
