body {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    /* align-items: center; */

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;

    margin: 0 auto;
    padding: 0;

    z-index: 99;
    overflow-x: hidden;

    /* pointer-events: none; */
}
.showBox {
  display: none;
  position: fixed;
  background-color: rgba(231, 236, 243, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  /* pointer-events: ; */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.showBox:target {
  opacity: 1;
  pointer-events: auto;
}

.showBox .showPopUpBox {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
  z-index: 1;
}
#soundboardWrapper {
    display: flex;
    width: 100vw;
    min-height: 30vh;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#uploadWrapper {
    display: flex;
    z-index: 999;
}

/* #soundboardWrapper h1 {
    width: 100vw;
} */

#signInWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signUpWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #loadSounds {
    min-width: 15vw;
    min-height: 7vh;
    display: flex;
    border: 2px solid #76c3bd;
    align-items: center;
    background-color: #76c3bd;
    border-radius: 10px;
    box-shadow: 2px 5px 7px 0px rgb(133, 127, 127);
    cursor: pointer;
    padding: 0 10px;
    font-weight: bold;
    letter-spacing: 1px;
}  */

#representSounds {
    display: flex;
    flex-wrap: wrap;
    /* min-width: 80vw;
    min-height: 10vh; */
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#representSounds div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* background-color: black; */
}

#representSounds .loadButton {
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-width: 20vw;
    min-height: 4vw;

    margin: 2vh 1.5vw;
    padding: 0 10px;

    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    
    border: 2px solid black;
    border-radius: 5px;
    /* box-shadow: 2px 5px 7px 0px rgb(133, 127, 127); */
}

#representSounds .undisplayBtn {
    display: none;
    
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-width: 20vw;
    min-height: 4vw;

    margin: 2vh 1.5vw;
    padding: 0 10px;

    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    
    border: 2px solid black;
    border-radius: 5px;
}
.soundsToPlay {
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-width: 20vw;
    min-height: 4vw;

    margin: 2vh 1.5vw;
    padding: 0 10px;

    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    
    border-radius: 10px;
    box-shadow: 2px 5px 7px 0px rgb(133, 127, 127);
}

#confirmDeleteFirst {
  display: none;
}
/* @media screen and (max-width:1024px) {
    #representSounds {
        width: 90vw;
        min-height: 50vh;
    
    }

    .soundsToPlay {
        min-width: 27vw;
        min-height: 8vh;
    }
}

@media screen and (max-width:768px) {
    #representSounds {
        width: 90vw;
    }

    .soundsToPlay {
        min-width: 35vw;
        min-height: 8vh;
    }
}

@media screen and (max-width:720px) {
    #representSounds {
        width: 95vw;
    }

    .soundsToPlay {
        min-width: 37vw;
        min-height: 8vh;
    }
} */


/* .notThere {
  display: none;
} */

.lds-ellipsis {
    /* display: inline-block; */
    position: relative;
    width: 80px;
    height: 80px;
    display: none;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  